$ctaGreenColor: rgb(1, 114, 116);
$lightCtaGreenColor: rgba(1, 114, 116, 0.205);
$boxShadow: rgb(128, 128, 128);
$lightBoxShadow: rgba(167, 157, 157, 0.295);
$textColor: rgb(5, 5, 5);
$validateText: rgb(0, 143, 2);
