@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
}

/* Typographie */
h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

p,
a {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: $ctaGreenColor;
	font-size: 2.3rem;
	padding-bottom: 0.2em;
	border-bottom: 1px solid $ctaGreenColor;
}

/* END - Typographie - END */

main {
	height: 80vh;
}

ul,
li {
	list-style: none;
}

input,
button {
	outline: none;
	border: none;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

img,
svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
