@import '../../styles/variables';

.btn--next {
	padding: 0.7em 1.5em;
	font-size: 2rem;
	margin: 0.5em 0em;
	background: none;
	border: 2px solid $ctaGreenColor;
	border-radius: 0.5rem;
	color: $ctaGreenColor;
	transition: all 200ms ease-in;

	&:hover {
		box-shadow: 3px 3px 5px 0px $boxShadow;
		-webkit-box-shadow: 3px 3px 5px 0px $boxShadow;
		-moz-box-shadow: 3px 3px 5px 0px $boxShadow;
		transform: scale(1.05);
	}
}
