@import '../../styles/variables';

#home-container {
	display: flex;
	flex-direction: column;

	.space-container {
		display: flex;
		justify-content: space-evenly;
	}

	.space-link {
		margin-top: 5em;
		align-self: center;
		padding-bottom: 0.2em;
		border-bottom: 1px solid $ctaGreenColor;
	}
}
